.copyright
    - var hexoURL = "https://hexo.io/";
    - var bubuzouURL = "https://github.com/Bulandent/hexo-theme-bubuzou";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.weibo, target="_blank")!= config.author], ditenagai oleh #[a(href=hexoURL, target="_blank") Hexo] <br> dan #[a(href=bubuzouURL, target="_blank") Tema Hexo Bubuzou]
    p 闽ICP备16007301号-2